.video:hover
{
    opacity: 85%;
}

.profile-picture {
    width: 140px; 
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #d1d1d1; /* Optional: border color similar to Instagram */
    align-items: center;
    display: flex;
    justify-content: center;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the div and maintains aspect ratio */
}
