.bg-greeny
{
    background-color: palegreen;
    border-radius: 15px;
}
.dropdown-menu {
    max-height: 300px;
    overflow-y : auto;
}
.bg-infos
{
    background-color: #779ac4;
    border-radius: 15px;
}
body {
    background-image: url('/images/landingpage.jpeg');
    background-size: cover; 
    background-repeat: no-repeat;  
    background-position: center; 
}
.scaleimg {
    width: 100%; /* Ensures image scales with the container */
    height: auto;
}
.accordion-button {
    font-size: 1rem;
}
@media (max-width: 768px) {
    .accordion-button {
        font-size: 0.9rem; /* Smaller font size for mobile */
    }
    .text-danger {
        font-size: 1.2rem;
    }
    .text-success {
        font-size: 1rem;
    }
    .card-body {
        padding: 10px;
    }
}